%h1= "#{@subscription.first_name} #{@subscription.last_name}"
%p
  %b Email:
  = @subscription.email
%p
  %b First Name:
  = @subscription.first_name
%p
  %b Last Name:
  = @subscription.last_name  
%p
  %b Address:
  = @subscription.address
%p
  %b Address2:
  = @subscription.address2
%p
  %b City:
  = @subscription.city
%p
  %b State:
  = @subscription.state
%p
  %b Zip:
  = @subscription.zip
%p
  %b Phone Number:
  = @subscription.phone_number
%p
  %b Coffee Type:
  = @subscription.coffee_type
%p
  %b Gift?:
  = @subscription.is_gift
%p
  %b Payer Email:
  = @subscription.payer_email