%h1 Blog Post ##{@blog_post.id}

.nice_spacings

  .group
    .title Title:
    .body= @blog_post.title

  .group
    .title Content:
    .body= convert_to_markdown @blog_post.content

  .group
    .title Photo 1:
    .body= image_tag @blog_post.photo.url(:small)

  .group
    .title Caption 1:
    .body= @blog_post.caption
    
  .group
    .title Photo 2:
    .body= image_tag @blog_post.photo_2.url(:small)

  .group
    .title Caption 2:
    .body= @blog_post.caption_2

  .group
    .title Photo 3:
    .body= image_tag @blog_post.photo_3.url(:small)

  .group
    .title Caption 3:
    .body= @blog_post.caption_3

  .group
    .title Ready for Display:
    .body= @blog_post.display_yn  

  .group
    .title Date Created:
    .body= @blog_post.created_at.to_s(:date)


.left_buttons= link_to 'Back', admin_blog_posts_path, class: 'btn btn-inverse'
