.public
  .welcome
    .right
      %h1 Receive Coffee Ready to Brew. 
      %h1 From the Farm to You. 
      %h1 Every Month!
      %h4 From just $18.95 including shipping
      .btn
        %ul
          %li.subscribe= link_to "Buy Now", subscriptions_path
          %li.gift= link_to "Gift Now", subscriptions_path
          
    .bottom
      %p Artisan-roasted coffee and the story of the farm it comes from; both delivered to your door. 
      %p
        %i Think Globally, Drink Happily!
    .left
      = image_tag '/assets/header.png'
    
  .coffee
    .left
      %h2 April's Coffee
      %h2 Los Cipres
      .archer_farms
        .picture
          = image_tag '/assets/april.jpeg'
        .content
          %p 
            %b Farm: 
            Los Cipres
          %p Dipilito, Nicaragua
          %p
            %b Roaster:
            Café Integral
          %p
            %b Tasting notes: 
            Floral, bright, silky
          %br
          %p Domingo Herrera, owner of Los Cipres, comes from a family history of coffee farmers. Small lots of the Caturra varietal line the farm, speckled with plantain and other fruit trees for shade and home consumption. In the past, steep financing terms from exporters nearly forced Domingo to sell the farm that brings him his livelihood. He fought to keep his farm and found ways to pay back loans. 
          %br
          %p César Martín Vega is the owner of Café Integral, found at the American Two Shots boutique, in NYC. César knows Domingo through his family, who also owns coffee farms in the same region. This is his second year buying directly from Domingo as part of his mission to directly support Nicaraguan coffee farmers. This year's lot is the most delicate offering he has to date, with an articulate, if buoyant, acidity that allows nuance to come through clearly and shift as the cup cools.
        
    .right
      /
        .recent_blog_posts
          %h4 RECENT BLOG POSTS
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by.last
            %p Posted by Anastasia on January 1, 2012
          %p= link_to '[Read More]', '', :class => "read_more"

      .todays_brewing_tip
        %h3 What You Get
        = image_tag 'december_coffee.png', width: 410
        %ul
          %li 12 oz of AMAZING coffee 
          %li Story of the farmer and the roaster 
          %li Brewing tips
      
  .about
    .image-left
      = image_tag '/assets/coffee.jpg'
    .right
      %h3 ABOUT OUR COFFEE
      %p 
        At the heart of the global coffee industry are local farmers. At the core of Terra Bean Coffee is the hope that you see value in supporting entrepreneurial farmers just as you do small-scale agriculture near you. Each month, we feature an artisan roaster and farm. Our partner roasters travel the world to select their beans, working directly with the farmers. They share our vision, and we are proud to showcase their coffee.

  .about
    .image-right
      = image_tag '/assets/farmers.jpg'
    .left
      %h3 OUR DIRECT TRADE MISSION
      %p
        "Direct trade" is a catchword these days.  At Terra Bean, we literally bring it down to earth, with an emphasis on fairness.  And taste.  Our partner roasters are key: they bridge the divide between the farmers and us, developing--investing in--lasting relationships, providing the farmers the security to invest in perfecting their coffee.  The farmers (and their families and communities) benefit by getting paid what their product is worth; you get access to some of the best coffees the world has to offer.

        %br
        %br "Direct trade": That's something to drink to.
