.public
  .welcome
    .right
      %h1 Receive Coffee Ready to Brew From the Farm to You. Every Month!
      %h4 From just $18.95 including shipping
      .btn
        %ul
          %li.subscribe= link_to "Subscribe Now", subscriptions_path
          %li.gift= link_to "Gift Now", subscriptions_path
          
    .bottom
      %p Artisan-roasted coffee and the story of the farm it comes from; both delivered to your door. Think Globally, Drink Happily!
      
    .left
      = image_tag '/assets/header.png'
    
  .coffee
    .left
      %h2 January's Coffee: Los Lobos
      .archer_farms
        .picture
          = image_tag '/assets/IMG_2482.JPG'
        .content
          %p 
            %b Farm: 
            Hacienda Rio Jorco
          %p Vuelta de Jorco, Costa Rica
          %p
            %b Roaster:
            Cafetin
          %p
            %b Tasting notes: 
            Bright and Smooth
          %br
          %p Third generation coffee farmers Luis and Jim Alfaro not only produce Cup of Excellence winning coffees, they pride themselves on environmental sustainability. When processing their coffee, they minimize water usage, recycle water, create natural fertilizers from the pulp removed from the coffee beans and fuels their dryers with fallen trees. Part of their conservation efforts includes dedicating three-quarters of their farm to an ecological reserve and reforestation of indigenous plants and trees. 
          %br
          %p In the picture above, roaster Tim O'Brien (left) and farmer Luis Alfaro (center) oversee processing the coffee fruit. 
        
    .right
      /
        .recent_blog_posts
          %h4 RECENT BLOG POSTS
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by.last
            %p Posted by Anastasia on January 1, 2012
          %p= link_to '[Read More]', '', :class => "read_more"

      .todays_brewing_tip
        %h3 What You Get
        = image_tag 'december_coffee.png', width: 410
      
  .about
    .image-left
      = image_tag '/assets/coffee.jpg'
    .right
      %h3 ABOUT OUR COFFEE
      %p 
        At the heart of the global coffee industry are local farmers. Our hope is that you will place the same value on supporting small-scale coffee farmers as you do on supporting farmers near you. 

        %br
        %br Each month, we feature a an artisan roaster and farm. Our partner roasters travel the world to select their beans, and work directly with the farmers. They share our vision, and we are proud to showcase their coffee.

  .about
    .image-right
      = image_tag '/assets/farmers.jpg'
    .left
      %h3 OUR DIRECT TRADE MISSION
      %p
        What is direct trade? Mutually beneficial, sustainable relationships between coffee roasters and coffee farmers. Roasters who invest resources into bridging geographical and cultural divides to build direct relationships with farmers provide those farmers with the security to invest in improving production techniques and the quality of their coffee. The roasters' ongoing commitment to the farmers gains them access to some of the world's best coffees.

        %br
        %br We bring their coffee to you to support the roasters trying to make a difference and create an awareness about direct trade amongst consumers so that together we can make it a norm instead of an exception.
