.public
  .welcome
    .right
      %h1 Receive Coffee Ready to Brew From the Farm to You. Every Month!
      %h4 From just $18.95 including shipping
      .btn
        %ul
          %li.subscribe= link_to "Subscribe Now", subscriptions_path
          %li.gift= link_to "Gift Now", subscriptions_path
          
    .bottom
      %p Artisan roasted coffees and the story of the farms, so that you can get to know the farmer too! All delivered to your door. Think Globally, Drink Happily!
      
    .left
      = image_tag '/assets/header.png'
    
  .coffee
    .left
      %h2 December's Coffee: La Colmena
      .archer_farms
        .picture
          = image_tag '/assets/coffee_of_the_month.jpeg'
        .content
          %p 
            %b Farm: 
            Los Alpes
          %p San Miguel, El Salvador
          %p
            %b Tasting notes: 
            Savory sweet, preserved fruit, walnut, smooth
          %br
          %p While overcoming the economic legacy of the civil war, Los Alpes planted one of the first Pacamara varietals, in the 1990s. Fifteen years later, we have the fruit of that initiative, La Colmena, a smooth coffee with preserved fruit and walnut flavors. Over the past five years, Mike Johnson (left), of Johnson Brother's Coffee worked closely with Farmer Luis Alonso Araujo (right) to refine Los Alpes' harvesting and processing techniques. Mike pays a premium for the coffees and Luis gives him exclusivity to the best beans.
        
    .right
      /
        .recent_blog_posts
          %h4 RECENT BLOG POSTS
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by.last
            %p Posted by Anastasia on January 1, 2012
          %p= link_to '[Read More]', '', :class => "read_more"

      .todays_brewing_tip
        %h3 Today's Brewing Tip
        %p Ratio of coffee to water: Most home brewers use too much water.  The rule of thumb is to use 1-2 tablespoons of ground coffee for every six ounces of water - try it now!
        
      
  .about
    .image-left
      = image_tag '/assets/coffee.jpg'
    .right
      %h3 ABOUT OUR COFFEE
      %p 
        At the heart of the global coffee industry are local farmers. Our hope is that you will place the same value on supporting small-scale coffee farmers as you do on supporting farmers near you. 

        %br
        %br Each month, we feature a an artisan roaster and farm. Our partner roasters travel the world to select their beans, and work directly with the farmers. They share our vision, and we are proud to showcase their coffee.

  .about
    .image-right
      = image_tag '/assets/farmers.jpg'
    .left
      %h3 OUR DIRECT TRADE MISSION
      %p
        What is direct trade? Mutually beneficial, sustainable relationships between coffee roasters and coffee farmers. Roasters who invest resources into bridging geographical and cultural divides to build direct relationships with farmers provide those farmers with the security to invest in improving production techniques and the quality of their coffee. The roasters' ongoing commitment to the farmers gains them access to some of the world's best coffees.

        %br
        %br We bring their coffee to you to support the roasters trying to make a difference and create an awareness about direct trade amongst consumers so that together we can make it a norm instead of an exception.
