.public
  .welcome
    .right
      %h1 Receive Coffee Ready to Brew From the Farm to You. Every Month!
      %h4 From just $18.95 including shipping
      .btn
        %ul
          %li.subscribe= link_to "Buy Now", subscriptions_path
          %li.gift= link_to "Gift Now", subscriptions_path
          
    .bottom
      %p Artisan-roasted coffee and the story of the farm it comes from; both delivered to your door. 
      
    .left
      = image_tag '/assets/header.png'
    
  .coffee
    .left
      %h2 January's Coffee: Los Lobos
      .archer_farms
        .picture
          = image_tag '/assets/IMG_2482.JPG'
        .content
          %p 
            %b Farm: 
            Hacienda Río Jorco
          %p Tarrazú, Costa Rica
          %p
            %b Roaster:
            Cafetín Roasting Company
          %p
            %b Tasting notes: 
            Sweet, Stone Fruits, Bright and Smooth
          %br
          %p Fourth generation coffee farmers Luis and Jim Alfaro not only produce Cup of Excellence winning coffees, they pride themselves on environmental sustainability. When processing their coffee, they recycle water, create natural fertilizers from the coffee fruit pulp and fuel their dryers with fallen trees. The brothers' conservation efforts include dedicating three-quarters of their farm is to an ecological reserve to protect the indigenous flora and fauna. 
          %br
          %p In the picture above, roaster Tim (left) and farmer Ruddy (center) oversee processing the coffee fruit.
        
    .right
      /
        .recent_blog_posts
          %h4 RECENT BLOG POSTS
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by.last
            %p Posted by Anastasia on January 1, 2012
          %p= link_to '[Read More]', '', :class => "read_more"

      .todays_brewing_tip
        %h3 What You Get
        = image_tag 'december_coffee.png', width: 410
        %ol
          %li 12 oz of an AMAZING coffee line 
          %li Story of the farmer and the roaster 
          %li Brewing tips
      
  .about
    .image-left
      = image_tag '/assets/coffee.jpg'
    .right
      %h3 ABOUT OUR COFFEE
      %p 
        At the heart of the global coffee industry are local farmers. At the core of Terra Bean Coffee is the hope that you see value in supporting entrepreneurial farmers just as you do small-scale agriculture near you. Each month, we feature an artisan roaster and farm. Our partner roasters travel the world to select their beans, working directly with the farmers. They share our vision, and we are proud to showcase their coffee.

  .about
    .image-right
      = image_tag '/assets/farmers.jpg'
    .left
      %h3 OUR DIRECT TRADE MISSION
      %p
        "Direct trade" is a catchword these days.  At Terra Bean, we literally bring it down to earth, with an emphasis on fairness.  And taste.  Our partner roasters are key: they bridge the divide between the farmers and us, developing--investing in--lasting relationships, providing the farmers the security to invest in perfecting their coffee.  The farmers (and their families and communities) benefit by getting paid what their product is worth; you get access to some of the best coffees the world has to offer.

        %br
        %br "Direct trade": That's something to drink to.
