.public
  .welcome
    .right
      %h1 Receive Coffee Ready to Brew. 
      %h1 From the Farm to You. 
      %h1 Every Month!
      %h4 From just $18.95 including shipping
      .btn
        %ul
          %li.subscribe= link_to "Buy Now", subscriptions_path
          %li.gift= link_to "Gift Now", subscriptions_path
          
    .bottom
      %p Artisan-roasted coffee and the story of the farm it comes from; both delivered to your door. 
      %p
        %i Think Globally, Drink Happily!
    .left
      = image_tag '/assets/header.png'
    
  .coffee
    .left
      %h2 March's Coffee
      %h2 Plantanares-Honduras
      .archer_farms
        .picture
          = image_tag '/assets/march_coffee.jpg'
        .content
          %p 
            %b Farm: 
            Finca Plantanares
          %p Copan, Honduras
          %p
            %b Roaster:
            Irving Farm
          %p
            %b Tasting notes: 
            Juicy, Currant, Bright
          %br
          %p Irving Farm started buying coffee from Jose Francisco (Pancho) Villeda in 2011 when his coffee won a coop-wide competition for micro-lots. Dan Streetman, green coffee director for Irving Farm, purchased the winning lot. Since then, he has worked with Pancho to improve quality and provide stability for the farm.  Pancho is dedicated and passionate. He is relentless about processing high-quality coffee., produces his own organic fertilizers, and is vigilant about soil testing. 
          %br
          %p Last year, when coffee commodities market prices plummeted, Pancho requested they re-negotiate their contract for a fixed price instead of a price hedged on the market. Dan counter-offered a higher price than what Pancho requested because he views it as an investment in their sustainable partnership and capacity building for Plantanares.
        
    .right
      /
        .recent_blog_posts
          %h4 RECENT BLOG POSTS
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by
            %p Posted by Anastasia on January 1, 2012
          .title
            %p= link_to "We're Live!", ''
          .posted_by.last
            %p Posted by Anastasia on January 1, 2012
          %p= link_to '[Read More]', '', :class => "read_more"

      .todays_brewing_tip
        %h3 What You Get
        = image_tag 'december_coffee.png', width: 410
        %ul
          %li 12 oz of AMAZING coffee 
          %li Story of the farmer and the roaster 
          %li Brewing tips
      
  .about
    .image-left
      = image_tag '/assets/coffee.jpg'
    .right
      %h3 ABOUT OUR COFFEE
      %p 
        At the heart of the global coffee industry are local farmers. At the core of Terra Bean Coffee is the hope that you see value in supporting entrepreneurial farmers just as you do small-scale agriculture near you. Each month, we feature an artisan roaster and farm. Our partner roasters travel the world to select their beans, working directly with the farmers. They share our vision, and we are proud to showcase their coffee.

  .about
    .image-right
      = image_tag '/assets/farmers.jpg'
    .left
      %h3 OUR DIRECT TRADE MISSION
      %p
        "Direct trade" is a catchword these days.  At Terra Bean, we literally bring it down to earth, with an emphasis on fairness.  And taste.  Our partner roasters are key: they bridge the divide between the farmers and us, developing--investing in--lasting relationships, providing the farmers the security to invest in perfecting their coffee.  The farmers (and their families and communities) benefit by getting paid what their product is worth; you get access to some of the best coffees the world has to offer.

        %br
        %br "Direct trade": That's something to drink to.
