.public
  .welcome
    .right
      %h1 Receive coffee at your door every month!
      %h4 From just $18.95 including shipping
      .btn
        %ul
          %li.subscribe= link_to "Subscribe Now", subscriptions_path
          %li.gift= link_to "Gift Now", subscriptions_path
          
    .bottom
      %p We support local agriculture globally. We bring you the story of the farm behind the coffee for you to get to know the farmers, too.
      
    .left
      = image_tag '/assets/header.png'
    
  .coffee
    .left
      %h2 November's Coffee
      .archer_farms
        .picture
          = image_tag '/assets/coffee_of_the_month.jpeg'
        .content
          %h6 Los Alpes- San Miguel, El Salvador
          %p While overcoming the economic hardships of the civil war during the 1990’s, Los Alpes planted one of the first Pacamara varietals. Over the past 5 years, Johnson Brothers Coffee, worked directly with Luis to refine harvesting and processing techniques to produce excellent coffees.
        
    .right
      .recent_blog_posts
        %h4 RECENT BLOG POSTS
        .title
          %p= link_to "We're Live!", ''
        .posted_by
          %p Posted by Anastasia on January 1, 2012
        .title
          %p= link_to "We're Live!", ''
        .posted_by
          %p Posted by Anastasia on January 1, 2012
        .title
          %p= link_to "We're Live!", ''
        .posted_by.last
          %p Posted by Anastasia on January 1, 2012
        %p= link_to '[Read More]', '', :class => "read_more"

      .todays_brewing_tip
        %h3 Today's Brewing Tip
        %p Ratio of coffee to water: Most home brewers use too much water.  The rule of thumb is to use 1-2 tablespoons of ground coffee for every six ounces of water - try it now!
        
      
  .about
    .image-left
      = image_tag '/assets/coffee.jpg'
    .right
      %h3 ABOUT OUR COFFEE
      %p Each month, we feature a different roaster and farm to provide you with a different, unique coffee and broaden your coffee drinking experience. Our partner roasters travel to the best coffee growing regions in the world to select their beans and develop sustainable, direct relationships with farmers. They share our vision and we’re proud to showcase their coffee.

  .about
    .image-right
      = image_tag '/assets/farmers.jpg'
    .left
      %h3 OUR DIRECT TRADE MISSION
      %p We specialize in direct trade coffee by working with artisan roasters who have direct relationships with coffee farmers. Our partner roasters support small-scale coffee farms by paying more than fair trade prices and working with the farmers to improve their farming practices and quality of their coffee. We pass on the story of the coffee to you - from the farm to your cup.
